@model QueueStation.Controllers.SingersGrid

@{
    if (SessionBag.Current.HasCredentials == true)
    {
        if (Model != null)
        {
            if (Model.command != null && (Model.command.ToLower() == "add"))
            {
                Response.Redirect("/Singers/PageEditSinger?Command=add");
            }
            else
            {
                Response.Redirect("/Singers/SingersView");
            }
        }
        else
        {
            Response.Redirect("/Singers/SingersView");
        }
    }
    else
    {
        Response.Redirect("/CredPage/CredPage");
    }
}

<h2>PageAddSaveRevert</h2>


