<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISingingClub" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://dmmlenovo1:5200/SingingClub.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ISingingClub" contract="SingingClubDataReference.ISingingClub"
                name="BasicHttpBinding_ISingingClub" />
        </client>
    </system.serviceModel>
</configuration>