body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 900px;
}

.wide-box{
    width: 900px;
}

.medium-wide-box{
    width: 600px;
}

.standard-wide-box{
    width: 300px;
}

/* Set WebGrid Table default style */
.webgrid-table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    width: 100%;
    display: table;
    border-collapse: separate;
    border: solid 1px #98BF21;
    background-color: white;
}

    .webgrid-table td, th {
        color: black;
        border: 1px solid #98BF21;
        padding: 3px 7px 2px;
    }

.webgrid-header {
    background-color: beige;
    color: #FFFFFF;
    padding-bottom: 4px;
    padding-top: 5px;
    text-align: left;
}

.webgrid-footer {
}

.webgrid-row-style {
    padding: 3px 7px 2px;
}

.webgrid-alternating-row {
    background-color: lightgrey;
    padding: 3px 7px 2px;
}
/* Set WebGrid Table default style */

.jumbotron h2 {
    font-size: 40px;
}

